body{
    width: 1280px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    padding-left: 100px;
}
a {
    text-decoration: none;
    color: unset;
}

.title{
    display: block;
    color: #4bcaff;
    font-size: 80px;
    line-height: 94px;
    margin: 64px 0 38px 40px ;
}

.fist_half_title{
    color: #000 ;
}

.up_menu{
    background-color: #35444F;
    display: flex;
    padding-left: 160px;
    padding-right: 150px;
    justify-content: space-around;
    text-align: center;
}

.up_menu_item:hover{
    background-color: #222f3a;
    transition: 0.3s;
    cursor: pointer;
}

.up_menu_item{
    border-left: 1px solid #fff;
}

.up_menu_last{
    border-right: 1px solid #fff;
}

.up_menu_item_text{
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    margin: 28px 40px 20px;
}

.container_centr{
    display: flex;
    flex-direction: row;
    margin-top: 48px;
}



.aside_menu_list
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-shrink: 0;
    width: 344px;
    height: 400px;
    border: 1px solid #000000;

}

.aside_menu_item
{
    display: flex;
    color: #495863;
    padding-left: 30px;
    font-size: 27px;
    line-height: 80px;
}

.aside_menu_item:hover{
    background: #DBDBDB;
    color: #35444F;
    cursor: pointer;
    padding-left: 50px;
    transition: 0.3s;
}

.main_part_site{
    display: flex;
    flex-direction: column;
    margin-left: 52px;
}
.main_img{
    display: flex;
    border: 1px solid #000000;
    justify-content: center;
    align-items: center;
    height: 530px;
    margin-bottom: 4px;

}

.main_text{
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;  
    margin: 34px 0 0;       
}

.footer_menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 68px;
    background-color: rgba(99, 105, 110, 0.48);
    margin: 54px 0 30px;
}

.footer_menu_list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
    margin-left: 40px;

}

.footer_menu_item{
    color: #0C1927;
    font-size: 28px;
    line-height: 28px;
}

.footer_menu_item:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
    cursor: pointer;
    transition: 0.3s;
}

.footer_menu_last_item{
    margin-left: 136px;
    color: #010101;
    font-size: 24px;
    line-height: 24px;
}